In [1]:
import pandas as pd

In [2]:
# Import de la Data.
data = pd.read_csv("data/Housing_Price.csv")

In [9]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,gender
0,-122.23,37.88,41.0,880,129.0,322.0,126,8.3252,452600,NEAR BAY,male
1,-122.22,37.86,21.0,7099,1106.0,2401.0,1138,8.3014,358500,NEAR BAY,female
2,-122.24,37.85,52.0,1467,190.0,496.0,177,7.2574,352100,NEAR BAY,male
3,-122.25,37.85,52.0,1274,235.0,558.0,219,5.6431,341300,NEAR BAY,female
4,-122.25,37.85,NaN,1627,280.0,NaN,259,3.8462,342200,NEAR BAY,male

In [3]:
# lignes & colonnes
data.shape

(20640, 11)

In [14]:
# Doublons
print(data.duplicated().sum())

0

In [11]:
# Point de vu métier et business ca n'a pas de sens 
data["gender"][0:3]

0      male
1    female
2      male
Name: gender, dtype: object

In [ ]:
# Ne pas oublier que c'est pas moi qui ai fait le projet. Je viens après que le projet est finis, je dois juste améliorer.